.navbar{
    background-color: rgb(63, 149, 224);
    padding-top: 2px;
    padding-bottom: 1px;
}

nav{
    color: #daf609;
    font-size:150%;
    text-align: center;  
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL8KLba4OqHM0gff50TybeeN2CBDPoZieIfA&usqp=CAU");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .child{
    align-items: center;
    float: left;
    padding: 1rem;
    font: 2em sans-serif;
} */
.parent{
    padding-left: 30%;
    align-items: center;
}
