body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL8KLba4OqHM0gff50TybeeN2CBDPoZieIfA&usqp=CAU");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}