<body>
    <br>
    <h1>&nbsp;Product Details</h1>
    <div>

    </div>
    <div  class="parent">
        <div class="child">
            <span><button (click)="addpro()">Add Product</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="searchbybrand()">Search By Brand</button></span><br><br>
            <span><button (click)="getpro()">Get Product</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="searchbycat()">Search By category</button></span><br><br>
            <button (click)="deletepro()">Delete Product</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="searchbyproduct()">Search By Product</button><br><br>
            <button (click)="updatepro()">Update Product</button><br>
        </div>
    </div>

</body>
