<!-- <nav>
    <div class="navbar">
        <span> <h1>ONLINE PRODUCT CATELOGUE 
        </h1>
        </span>
    </div>
</nav> -->
<body>
    <br>
    <h1>&nbsp;Welcome :)</h1>
    <div>

    </div>
    <div  class="parent">
        <div class="child">
            <button (click)="addcat()">Add Catagories</button><br><br>
            <button (click)="getcat()">Get Catagories</button><br><br>
            <button (click)="deletecate()">Delete Catagories</button><br><br>
            <button (click)="updateca()">Update Catagories</button><br><br>
            <button (click)="product()">Products</button><br>
        </div>
    </div>

</body>
