<body>
    <br>
    <h2>To Delete Catagory</h2>
    
    <div>
        <form [formGroup]="deletecatagory">
            <mat-form-field appearance="outline">
                <mat-label>CategoryName</mat-label>
                <label>Name :-</label>
                <input matInput formControlName="name" placeholder="Ex. category name"  style="border-color: brown;border-radius: 10px;height: 30px;width: 200px;" required/>
            </mat-form-field>
            <mat-form-field>
                <button mat-button (click)="deletecat()">submit</button>
            </mat-form-field>
        
        </form>
    </div>
</body>

